//colors
$text-color: #686868;
$dark-text-color: #2C2C2C;
$main-color: #F5C44B;
$add-color: #A1D7E3;
$light-color: #FBFBFB;
$gray-color: #F6F6F6;
$dark-gray-color: #868686;
$white-color: #ffffff;
$black-color: #000000;

//fonts
$normal-font: 'Nunito-Regular';
$medium-font: 'Nunito-Medium';
$semi-font: 'Nunito-Semibold';